@import url('../../variables.css');

.bar {
    background-color: var(--darker);
    color: var(--light);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.barContent {
    max-width: 900px;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: .5rem;
    background-color: var(--dark);
    color: var(--light);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 2px solid var(--dark);
}

.search:focus-within {
    border-color: var(--primary);
}

.search .slash {
    padding: 0.1rem 0.5rem;
    border: solid 0.5px var(--light);
    cursor: pointer;
    background-color: var(--dark);
    border-radius: .5rem;
    color: var(--light);
    margin-right: 0.5rem;
}

.searchButton {
    padding: 0.1rem 0.5rem;
    cursor: pointer;
    background-color: var(--dark);
    color: var(--light);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    width: 100%;
    font-size: medium;
    border: none;
    background-color: var(--dark);
    color: var(--light);
}

.search input:focus {
    outline: none;
}